@use "../../styles/variables.scss" as v;
@use "../../styles/mixins.scss" as m;
@use "../../styles/functions.scss" as f;

.benefic {
  min-height: 525px;
}

.title {
  font-size: 24px;
  line-height: f.ratio(24, 36);
  font-weight: 600;
  color: v.$darkPurple;
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  @include m.phone {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.line {
  width: 97px;
  height: 3px;
  background-color: v.$yellow;
  margin-inline: auto;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  @include m.phone {
    display: none;
  }
}

.text {
  max-width: 649px;
  text-align: center;
  margin-inline: auto;
  &:not(:last-child) {
    margin-bottom: 110px;
  }
}

.cards {
  display: flex;
  gap: 49px;
  @include m.netbook {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  @include m.phone {
    display: none;
  }
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  background: v.$white;
  box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 33px;
  @include m.netbook {
    margin-top: 100px;
  }
  @include m.phone {
    height: 100%;
  }
}

.cardImg {
  width: 70%;
  height: 70%;
  margin-inline: auto;
  transform: translateY(-50%);
  img {
    width: 100%;
    height: auto;
  }
}

.cardTitle {
  font-weight: 600;
  color: v.$black;
  font-size: 18px;
  line-height: f.ratio(18, 27);
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.cardText {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.addBtn {
  width: 25px;
  height: 25px;
  margin-left: auto;
  cursor: pointer;
  svg {
    width: 100%;
    height: 100%;
    fill: v.$purple;
    object-fit: cover;
  }
  &:hover {
    svg {
      fill: v.$yellow;
    }
  }
}
