@use "../../styles/variables" as v;
@use "../../styles/mixins.scss" as m;
@use "../../styles/functions.scss" as f;

.mySwiper {
  display: none;
  @include m.phone {
    display: block;
    min-height: 100%;
  }
  .swiper-slide {
    max-height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
